<div th:fragment="content">

    <h1>Detalle Producto</h1>

    <h3 th:text="${producto.nombre}"></h3>

    <p><strong>Precio:</strong>
    <span th:text="'€ ' + ${producto.precio}"></span>
    </p>

    <p><strong>Referencia:</strong>
        <span th:text="${producto.num_serie}"></span>
    </p>

    <p th:if="${producto.oferta}">
        🔥 En oferta
    </p>

    <p th:if="${producto.peso != null}">
        ⚖️ Peso: <span th:text="${producto.peso + ' kg'}"></span>
    </p>

    <a href="/productos">⬅ Volver al catálogo</a>

</div>